---
- name: Update hosts entry
  hosts: all
  become: true
  tasks:
    - name: Print a debug message
      ansible.builtin.debug:
        msg: "{{ hostvars['one']['ansible_eth1']['ipv4']['address'] }}"

    - name: Add IP address of all hosts to all hosts
      ansible.builtin.lineinfile:
        dest: /etc/hosts
        regexp: ".*{{ item }}$"
        line: "{{ hostvars[item]['ansible_eth1']['ipv4']['address'] }} {{item}}"
        state: present
      with_items: "{{ groups.all }}"
- name: Update web servers
  hosts: one
  become: true
  tasks:
    - name: Ensure nginx is at the present version
      ansible.builtin.apt:
        name: "{{ item }}"
        update_cache: true
        state: present
      loop:
        - nginx
        - curl

    - name: Copier la configuration nginx
      ansible.builtin.template:
        dest: /etc/nginx/conf.d/default.conf
        src: nginx.conf.j2
        owner: root
        group: root
        mode: "0644"
      notify: Reload nginx

    - name: Supprimier le server nginx par default
      ansible.builtin.file:
        path: /etc/nginx/sites-enabled/default
        state: absent
      notify: Reload nginx

  handlers:
    - name: Reload nginx
      ansible.builtin.service:
        name: nginx
        state: reloaded

- name: Update db servers
  hosts: two
  become: true
  tasks:
    - name: Ensure nginx is at the present version
      ansible.builtin.apt:
        name: "{{ item }}"
        update_cache: true
        state: present
      loop:
        - nginx
        - curl

    - name: Copier le html dans le dossier dédié
      ansible.builtin.template:
        dest: /var/www/html/{{ nginx_html_pagename }}
        src: index.html.j2
        owner: root
        group: root
        mode: "0644"

    - name: Supprimier le répertoire
      ansible.builtin.file:
        path: /home/vagrant/custom_html
        state: absent

    - name: Ensure postgresql is absent
      ansible.builtin.apt:
        name: postgresql
        state: absent

    - name: Ensure that nginx is started
      ansible.builtin.service:
        name: nginx
        state: started

  handlers:
    - name: Reload nginx
      ansible.builtin.service:
        name: nginx
        state: reloaded
