---
- name: Update hosts entry
  hosts: one
  become: true
  roles:
    - plouik.sdv.common
    - plouik.sdv.nginx

- name: Hardening secure host
  hosts: one
  become: true
  roles:
    - name: devsec.hardening.os_hardening