#SPDX-License-Identifier: MIT-0
---
# tasks file for nginx
- name: Ensure nginx is at the present version
  ansible.builtin.apt:
    name: nginx
    update_cache: true
    state: present

- block:
  - name: Check that old nginx configuration exists
    ansible.builtin.stat:
      path: /etc/nginx/conf.d/default.conf
    register: nginx_conf_result

  - name: Create nginx configuration backup 
    ansible.builtin.copy:
      src: /etc/nginx/conf.d/default.conf
      remote_src: true
      dest: /tmp/nginx_backup.conf
    when: nginx_conf_result.stat.exists

  - name: Configure {{ ansible_hostname }} using custom configuration
    ansible.builtin.template:
      dest: /etc/nginx/conf.d/default.conf
      src: "{{ ansible_hostname }}/nginx.conf.j2"
      owner: root
      group: root
      mode: "0644"
    when: '"templates/{{ ansible_hostname }}/nginx.conf.j2" is exists'

  - name: Configure {{ ansible_hostname }} using custom html
    ansible.builtin.template:
      dest: /var/www/html/
      src: "{{ item }}"
      owner: root
      group: root
      mode: "0644"
    loop: "{{ lookup('ansible.builtin.fileglob', 'templates/'+ansible_hostname+'/html/*', wantlist=True) }}"

  - name: Supprimier le server nginx par default
    ansible.builtin.file:
      path: /etc/nginx/sites-enabled/default
      state: absent
    when: nginx_remove_default


  - name: Ensure that nginx is started
    ansible.builtin.service:
      name: nginx
      state: started

  - name: Reload nginx
    ansible.builtin.service:
      name: nginx
      state: reloaded

  rescue:
    - name: rollback nginx to old configuration
      ansible.builtin.copy:
        dest: /etc/nginx/conf.d/default.conf
        src: /tmp/nginx_backup.conf
        remote_src: true
        owner: root
        group: root
        mode: "0644"

    - name: Reload nginx
      ansible.builtin.service:
        name: nginx
        state: reloaded


  always:
    - name: Remove backup
      ansible.builtin.file:
        path: /tmp/nginx_backup.conf
        state: absent
      